# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Bats.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Bats\.idea\.idea.Bats\.idea/dataSources/
/dataSources.local.xml
